@font-face {
  font-family: "Poppins-Medium";
  src: url("fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("fonts/Poppins-Regular.ttf");
}

body {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: Poppins-Regular;
}

.trip_header_div {
  background-color: #cfdae6;
  padding: 20px;
  margin-bottom: 20px;
}

h1,
p {
  text-align: center;
}

input {
  margin: 0 auto;
  display: block;
  height: 60px;
  border-radius: 50px;
  width: 400px;
  padding-left: 10px;
  /* margin-left: 600px; */
}

p {
  /* line-height: 41px;
  text-align: justify;
  vertical-align: top;
  text-indent: 40px; */
}

.box {
  height: 200px;
  max-width: 800px;
  min-width: 500px;
  background-color: brown;
  margin: 12px;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.card_image {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  display: block;
}

.box-child {
  height: 190px;
  width: 500px;
  background-color: white;
  /* margin: 0 auto; */
}

.child1 {
  background-color: rgba(0, 0, 0, 0.05);
}

.logo_img {
  height: 60px;
  width: 200px;
}

#top_heading {
  margin-top: 120px;
}

.navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 1px 2px #ccc;
  margin-bottom: 12px;
  background-color: #fff;
  position: fixed;
  /* bottom: 0; */
  top: 0px;
  width: 98%;
}

.navbar + ul {
  position: relative;
}

ul {
  list-style-type: none;
}

.nested {
  display: none;
}

li {
  display: inline-block;
  color: black;
  padding: 5px;
  margin: 5px;
  /* border-radius: 125px; */
  cursor: pointer;
}

li:hover {
  /* background-color: lightgray; */
  border-bottom-width: 3px;
  border-bottom-color: green;
  border-bottom-style: solid;
  /* text-decoration: underline;
  text-decoration-color: black; */
}

i {
  margin-right: 5px;
  color: green;
}

li > a {
  text-decoration: none;
  color: black;
}
.show_nested:hover .nested {
  display: inline;
}

.nested {
  position: absolute;
  min-height: 100px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #ccc;
  right: 10px;
  top: 60px;
}

.nested > li {
  display: block;
  margin: 0px;
}

.nested > li > a {
  margin: 0px;
}

.tour_karachi {
  text-align: left;
  padding-left: 20px;
}
.tour_karachi > h4 {
  font-size: 25px;
  margin: 0px;
}

.tour_karachi > p {
  text-align: left;
}

.karachi_card {
  height: 350px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 3px 5px;
  position: relative;
  z-index: -1;
}
.karachi_card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.karachi_card:hover {
  opacity: 0.8;
}

.karachi_card_img {
  height: 230px;
  width: 100%;
}

.karachi_card_heading,
.karachi_card_desc {
  margin: 0px;
  padding: 0px;
  padding-left: 12px;
}

.karachi_card_heading {
  font-size: 18px;
  padding-top: 5px;
}
.karachi_card_desc {
  padding-top: 15px;
}

.karachi_heart {
  background-color: #fff;
  box-shadow: 1px 1px 1px #ccc;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.karachi_heart > i {
  color: #000;
  margin-right: 0px;
  font-size: 25px;
}

.menu {
  font-size: 40px;
  display: none;
}

@media screen and (max-width: 980px) {
 
  /* .karachi_card_container {
    justify-content: space-around;
  } */

  ul {
    display: none;
  }
  .menu{
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
  }

  .menu:hover  {
    display: inline-block;
    visibility: visible;
    color: aquamarine;
  }
}

@media screen and (max-width: 600px) {
  .karachi_card {
    width: 90%;
  }
}

/* @media screen and (max-width: 650px) {
  .karachi_card_container {
    justify-content: center;
  }
  .karachi_card {
    width: 80%;
    height: 350px;
  }
  input {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  .karachi_card {
    width: 100%;
  }
  input {
    width: 100%;
  }
} */
