
table{
    width: 1000px;
    border: 1px solid black;
    border-spacing: 5px;
}

td,th{
    border: 1px solid black;
    text-align: center;
    padding: 6px;
    
}

h1{
    text-align: center;
}

.logo_img{
    height: 60px;
    width: 120px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

li{
    display: inline-block;
    list-style-type: none;
}